{
  "trailingComma": "none",
  "tabWidth": 2,
  "printWidth": 150,
  "semi": true,
  "singleQuote": false,
  "proseWrap": "never",
  "htmlWhitespaceSensitivity": "strict",
  "endOfLine": "auto",
  "arrowParens": "avoid"
}
